# 5. Making choices

In [1]:
# Comparing values and variables
print(1 > 0)
print(1 <= 0)
print(1 == 0) # == is used for comparing equality
print(1 != 0)

True
False
False
True

In [2]:
type(1 > 0)

bool

In [4]:
# if-statement to check whether a number is greater 100
num = 200
if num > 100:
    print('greater')
else:
    print('not greater')
print('done')

greater
done

In [5]:
num = 54
print('before conditional')
if num > 100:
    print(num, 'is greater than 100')
print('after conditional')

before conditional
after conditional

In [8]:
# Chaining multiple if-statements
num = 3

if num > 0:
    print(num, 'is positive')
elif num == 0:
    print(num, 'is zero')
else:
    print(num, 'is negative')

3 is positive

In [10]:
# Combine true with `and`

if (1 > 0) and (1 >= 0):
    print('both parts are true')
else:
    print(' at least one part is false')

both parts are true

In [11]:
# Combine with 'or'
if (1 > 0) or (-1 >= 0):
    print('at least on part is true')

at least on part is true

## Checking our data

In [12]:
import numpy as np

data = np.loadtxt(fname='data/inflammation-01.csv', delimiter=',')

max_inflammation = np.max(data, axis=0)
print(max_inflammation)

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 19. 18. 17. 16. 15. 14. 13. 12. 11. 10.  9.  8.  7.  6.  5.
  4.  3.  2.  1.]

In [13]:
if (max_inflammation[0] == 0) and (max_inflammation[20] == 20):
    print('Suspicious looking maxima')

Suspicious looking maxima

# Creating functions

In [14]:
def fahr_to_celsius(temp_F):
    temp_C = (temp_F - 32) * (5 / 9)
    return temp_C

In [15]:
fahr_to_celsius(32)

0.0

In [16]:
def celsius_to_kelvin(temp_C):
    return temp_C + 273.15

In [17]:
print('freezing point of water in Kelvin:', celsius_to_kelvin(0))

freezing point of water in Kelvin: 273.15

In [18]:
celsius_to_kelvin('abc')

TypeError: can only concatenate str (not "float") to str